Repository robotology/idyntree, pull requests merged in 2020-09, with the labels that each got.

#726 Enhance iDynTree from / to Python mapping and add proper NumPy support
  .github/workflows/ci.yml
  CHANGELOG.md
  bindings/CMakeLists.txt
  bindings/python/CMakeLists.txt
  bindings/python/numpy.i
  bindings/python/python.i
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/dyncomp.py
  bindings/python/tests/helpers.py
Labels: Bindings: Python, Complexity: Medium, Component: Bindings, Status: Feedback

#732 Bump minimum required version of CMake to 3.16 and update CMake SWIG policies
  CHANGELOG.md
  CMakeLists.txt
  bindings/python/CMakeLists.txt
Labels: Bindings: Python, Platform: Linux, Status: Feedback

#733 Initial support to Python packaging
  .github/workflows/python.yml
  CHANGELOG.md
  bindings/python/CMakeLists.txt
  bindings/python/tests/geometry.py
  bindings/python/tests/helpers.py
  bindings/python/tests/joints.py
  pyproject.toml
  setup.py
  src/core/CMakeLists.txt
  src/estimation/CMakeLists.txt
  src/high-level/CMakeLists.txt
  src/icub/CMakeLists.txt
  src/inverse-kinematics/CMakeLists.txt
  src/model/CMakeLists.txt
  src/model_io/urdf/CMakeLists.txt
  src/model_io/xml/CMakeLists.txt
  src/sensors/CMakeLists.txt
  src/solid-shapes/CMakeLists.txt
  src/visualization/CMakeLists.txt
  src/yarp/CMakeLists.txt
Labels: Bindings: Python

#735 Update Python SWIG bindings module name
  .github/workflows/python.yml
  CHANGELOG.md
  bindings/python/CMakeLists.txt
  bindings/python/tests/geometry.py
  bindings/python/tests/helpers.py
  bindings/python/tests/joints.py
Labels: Bindings: Python

#739 Model solid shape and exporter cleanup
  CHANGELOG.md
  src/model/include/iDynTree/Model/SolidShapes.h
  src/model/src/Model.cpp
  src/model/src/ModelTransformers.cpp
  src/model/src/SolidShapes.cpp
  src/model_io/urdf/include/iDynTree/ModelIO/ModelExporter.h
  src/model_io/urdf/src/GeometryElement.cpp
  src/model_io/urdf/src/ModelExporter.cpp
  src/model_io/urdf/src/URDFDocument.cpp
  src/model_io/urdf/src/URDFModelExport.cpp
  src/model_io/urdf/tests/ModelExporterUnitTest.cpp
  src/model_io/urdf/tests/URDFModelImportUnitTest.cpp
  src/solid-shapes/src/InertialParametersSolidShapesHelpers.cpp
Labels: Type: Cleanup
